body {
    width: 90%;
    margin: 0 auto;
    border: 20px solid black;
    max-width: 1200px;
}
body p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body h1, body h2 body h3, body h4, body h5, body h6{
    font-family: Arial, Helvetica, sans-serif
}
header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
header nav h3 a{
    text-decoration: none;
    color: white;
}
header nav h3 a:hover{
    text-decoration: underline;
    color: white;
}
main{
    width: 60%;
    float: left;
    padding:20px;
    border-right: 20px solid black;
    /* height: s; */
}
main img{
    width: 100%;
}
#cross{
    text-decoration: line-through;
}
aside{
    width: 30%;
    float: right;
    height: 600px;
    /* border-right: 20px solid black; */
    
}
aside h2{
    margin-top: 70%;
    text-align: center;
}
aside ol{
    line-height: 25px;
    list-style-type: lower-roman;
}
aside p{
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 0;
}
footer{
    clear: both;

    padding: 10px;
    border-top: 20px solid black;
    background-color: aqua;
}
footer p{
    text-align: end;
    font-style: italic;
}

@media only screen and (max-width: 900px){
    main{
        display: block;
        float: none;
        border-right: none;
        width: 100%;
    }
    main img{
        width: 90%;
    }
    aside{
        width: 100%;
        display: block;
        float: none;
        background-color: black;
        height: fit-content;
        color: white;
    }
    aside p a{
        color: white;
        text-decoration: none;
        list-style-type: none;
        border: 1px solid white;
        margin-left:5px;
    }
    aside p{
        color: white;
        text-decoration: none;
        list-style-type: none;
    }
    aside h2{
        margin-top: 0;
    }

}
@media only screen and (max-width: 600px){
    header{
        height: 300px
    }
    header img{
        width: 10%;
    }
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav h3 a:hover{
        border: 1px solid white;
        padding: 2px;
        text-decoration: underline;
    }
}